__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
../.env
.venv
venv/
env/
.git
Personal-Finance-Tracking/.github
.gitignore
.pytest_cache
.coverage
htmlcov/
.mypy_cache
.ruff_cache
*.log
uploads/
*.md
docker-compose.yml
Dockerfile
